html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}


section {

   
}

#pilhas {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    justify-content: space-around;
    border-bottom: solid 60px black;
}

#pilhaInicial {
    display: flex;
    flex-direction: column-reverse ;
    height: 500px;
    width: 50px;
    background-color: black;
    align-items: center;
    justify-content: flex-start;   
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#pilhaDoMeio {
    display: flex;
    flex-direction: column-reverse ;
    height: 500px;
    width: 50px;
    background-color: black;
    align-items: center;
    justify-content: flex-start;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}


#pilhaFinal {
    display: flex;
    flex-direction: column-reverse ;
    height: 500px;
    width: 50px;
    background-color: black;
    align-items: center;
    justify-content: flex-start;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

h1 {
    font-size: 150px;
    text-align: center;
    margin-bottom: 200px;
}

#disco1 {
    height: 100px;
    width: 450px;
    background-color: blueviolet;
    border-radius: 20px;
    border: black solid 3px;
}

#disco2 {
    height: 100px;
    width: 300px;
    background-color: yellow;
    border-radius: 20px;
    border: black solid 3px;
}

#disco3 {
    height: 100px;
    width: 150px;
    background-color: red;
    border-radius: 20px;
    border: black solid 3px;
}

#disco1,#disco2,#disco3:hover {
    cursor: pointer;
}

#pilhaInicial,#pilhaDoMeio,#pilhaFinal:hover {
    cursor: pointer;
}

#matheus {
    float: left;
}
#erica {
    float: right;
}


